.d-none { display:none; }


/* Thumbnails container */
.pending {  overflow-x: auto;  overflow-y: hidden; 
            white-space: nowrap; margin-bottom: 10px;
           -webkit-overflow-scrolling: touch;  
         }
 
 
/* Pending zone thumbnails */
.pending .thumbnail-container {  margin-right: 5px;  display: inline-block; }


/* Thumbnails images */
.pending .thumbnail-container img {  margin-bottom: 5px; display: block !important; 
                                     height: 150px; 
                                  }

/* Deletion links */
.pending .thumbnail-container .thumb-deletion-link { display: inline-block; }
 
 
/* Scrollbar */
.pending::-webkit-scrollbar { padding-left: 5px; height: 5px; }

.pending::-webkit-scrollbar-track { background-color: #eee; }

.pending::-webkit-scrollbar-thumb { background-color: #0876e5; }


/* Loader gif container & images */
.loader-gif { margin:auto; }
.loader-gif img { display:block; }

/* Lists */
ul li { margin-top:10px; }
